<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Icarus | Smart Fast Insurance Claim</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/login_style.css">
</head>

<body>
    <div class="form">
        <ul class="tab-group">
          <li class="tab active"><a href="#login">Log In</a></li>
          <li class="tab"><a href="#signup">Sign Up</a></li>
        </ul>
        <div class="tab-content">
            <div id="login">
                <h1>Welcome Back!</h1>
                <!-- <form action="/dashboard.html" method="get"> -->
                    
                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off"/>
                    </div>   
                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off" />
                    </div>
                    <p class="forgot"><a href="dashboard.html">Forgot Password?</a></p>
                    <button class="button button-block" /><a href="dashboard.html" style="color: white">Log in</a></button>
                <!-- </form> -->
            </div>
            <div id="signup">
                <h1>Sign Up for Free</h1>
                <!-- <form action="/dashboard.html" method="get">  -->
                    
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                First Name<span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off" />
                        </div>
                        <div class="field-wrap">
                            <label>
                                Last Name<span class="req">*</span>
                            </label>
                            <input type="text" required autocomplete="off" />
                        </div>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off" />
                    </div>
                    <div class="field-wrap">
                        <label>
                            Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off" />
                    </div>
                    <button type="submit" class="button button-block" />Get Started</button>
                <!-- </form> -->
            </div>
        </div>
        <!-- tab-content -->
    </div>
    <!-- /form -->
    <script src='static/js/jquery.min.js'></script>
    <script src="static/js/login.js"></script>
</body>

</html>
